/* wwwroot/css/site.css */
body {
    background-color: #f8f9fb;
}

.navbar-brand {
    letter-spacing: 0.5px;
}

main .container {
    max-width: 1100px;
}

.qr {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.card-title i {
    margin-right: 6px;
}
